
<div class="card">
    <div class="card-header"> Add New Product </div>
    <div class="card-body">
        <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">

            <div class="form-group col-12">
                <label for="name">Name</label>
                <input type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': name.invalid && name.touched }">

                <div *ngIf="name.errors?.['required']">
                    <div class="alert alert-danger" *ngIf="name.invalid && name.touched">Product Name Is Required...</div>
                </div>

                <div *ngIf="name.errors?.['minlength']">
                    <div class="alert alert-danger" *ngIf="name.invalid && name.touched">Minimum Length is 5 Characters...</div>
                </div>

            </div>

            <div class="form-group col-12">
                <label for="type">Type</label>
                <input type="text" class="form-control" formControlName="type" [ngClass]="{ 'is-invalid': type.invalid && type.touched }">

                <div *ngIf="type.errors?.['required']">
                    <div class="alert alert-danger" *ngIf="type.invalid && type.touched">Type Is Required...</div>
                </div>

            </div>

            <div class="form-group col-12">
                <label for="price">Price</label>
                <input type="number" class="form-control" formControlName="price" [ngClass]="{ 'is-invalid': price.invalid && price.touched }">

                <div *ngIf="price.errors?.['required']">
                    <div class="alert alert-danger" *ngIf="price.invalid && price.touched">Price Is Required...</div>
                </div>

            </div>

            <div class="form-group col-12 mt-3">
                <button [disabled]="addProductForm.invalid" type="submit" class="btn btn-primary" style="margin-right: 10px;">Save</button>
                <button type="reset" class="btn btn-primary">Cancel</button>
            </div>

        </form>
    </div>
</div>