
<div class="card">
    <div class="card-header"> Add New Product </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmit(Form)" #Form="ngForm">

            <div class="form-group col-12">
                <label for="name">Name</label>
                <input 
                type="text" 
                class="form-control" 
                ngModel 
                name="productName" 
                #productName="ngModel" 
                [ngClass]="{ 'is-invalid': productName.invalid && productName.touched }"
                minlength="5"
                required>

                <div *ngIf="productName.errors?.['required']">
                    <div class="alert alert-danger" *ngIf="productName.invalid && productName.touched">Product Name Is Required...</div>
                </div>

                <div *ngIf="productName.errors?.['minlength']">
                    <div class="alert alert-danger" *ngIf="productName.invalid && productName.touched">Minimum Length is 5 Characters...</div>
                </div>

            </div>

            <div class="form-group col-12">
                <label for="typr">Type</label>
                <input type="text" class="form-control" ngModel name="productType" #type="ngModel" required>
            </div>

            <div class="form-group col-12">
                <label for="price">Price</label>
                <input type="text" class="form-control" ngModel name="productPrice" required>
            </div>

            <div class="form-group col-12 mt-3">
                <button [disabled]="Form.invalid" type="submit" class="btn btn-primary" style="margin-right: 10px;">Save</button>
                <button type="reset" class="btn btn-primary">Cancel</button>
            </div>

        </form>
    </div>
</div>