<div class="row">
    <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Register
      </div>
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
              <label for="name" class="form-label">User Name</label>
              <input type="text" 
              class="form-control" 
              formControlName="userName"
              [ngClass]="{ 'is-invalid': userName.invalid && userName.touched }">

              <div *ngIf="userName.errors?.['required']">
                <div class="alert alert-danger" *ngIf="userName.invalid && userName.touched">User Name Is Required...</div>
            </div>

            <div *ngIf="userName.errors?.['minlength']">
                <div class="alert alert-danger" *ngIf="userName.invalid && userName.touched">User Name is Minimum 5 Characters Long...</div>
            </div>
          </div>
  
          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" 
            class="form-control" 
            formControlName="email" 
            [ngClass]="{ 'is-invalid': email.invalid && email.touched }">

            <div *ngIf="email.errors?.['email']">
                <div class="alert alert-danger" *ngIf="email.invalid && email.touched">Invalid Email Address...</div>
            </div>

            <div *ngIf="email.errors?.['required']">
                <div class="alert alert-danger" *ngIf="email.invalid && email.touched">Email Is Required...</div>
            </div>

          </div>
  
          <div class="form-group col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" 
            class="form-control" 
            formControlName="password"
            [ngClass]="{ 'is-invalid': password.invalid && password.touched }">

            <div *ngIf="password.errors?.['required']">
                <div class="alert alert-danger" *ngIf="password.invalid && password.touched">Password Is Required...</div>
            </div>

            <div *ngIf="password.errors?.['minlength']">
                <div class="alert alert-danger" *ngIf="password.invalid && password.touched">Minimum Password Length 8 Characters...</div>
            </div>
          </div>
  
          <div class="form-group col-12">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input type="password" 
            class="form-control" 
            formControlName="confirmPassword"
            [ngClass]="{ 'is-invalid': confirmPassword.invalid && confirmPassword.touched }">

            <div *ngIf="confirmPassword.errors?.['required']">
                <div class="alert alert-danger" *ngIf="confirmPassword.invalid && confirmPassword.touched">Password Confirmation Is Required...</div>
            </div>

            <div *ngIf="confirmPassword.errors?.['minlength']">
                <div class="alert alert-danger" *ngIf="confirmPassword.invalid && confirmPassword.touched">Minimum Password Length 8 Characters...</div>
            </div>

            <div *ngIf="registrationForm.hasError('notmatched')">
                <div class="alert alert-danger" *ngIf="confirmPassword.valid && confirmPassword.touched">Password Does Not Match...</div>
            </div>
          </div>
  
          <div class="form-group col-12">
            <label for="mobile" class="form-label">Mobile</label>
            <input type="text" 
            class="form-control" 
            formControlName="mobile"
            [ngClass]="{ 'is-invalid': mobile.invalid && mobile.touched }">

            <div *ngIf="mobile.errors?.['required']">
                <div class="alert alert-danger" *ngIf="mobile.invalid && mobile.touched">Mobile Number Required...</div>
            </div>

            <div *ngIf="mobile.errors?.['maxlength']">
                <div class="alert alert-danger" *ngIf="mobile.invalid && mobile.touched">Mobile Number Max Length is 11 Digits...</div>
            </div>

          </div>
  
          <div class="form-group col-12 mt-3">
            <button type="submit" class="btn btn-primary" style="margin-right: 10px;" [disabled]="registrationForm.invalid">Save</button>
            <button type="reset" class="btn btn-secondary">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    </div>
  </div>