.card:hover {
    transform: scale(1.1,1.1);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

.card {
    transform: scale(1,1);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

.cardbtn {
    opacity:0;
}

.card:hover .cardbtn {
    opacity: 1;
}