

<div class="card">
  <img *ngIf="product.Image" src="{{ product.Image }}" class="card-img-top" alt="pants" style="height: 250px;">
  <img *ngIf="!product.Image" src="https://cdn.vectorstock.com/i/preview-1x/65/30/default-image-icon-missing-picture-page-vector-40546530.jpg" class="card-img-top" alt="pants" style="height: 250px;">
  <div class="card-body p-3">
    <h1 class="card-title">{{ product.Name }}</h1>
    <h2 class="card-text">{{ product.Type }}</h2>
    <h2>{{ product.Price }}</h2>
  </div>
  <ul class="list-inline text-center animate">
    <li class="list-inline-item">
      <button class="cardbtn btn btn-primary" routerLink="/product-details/{{ product.Id }}">Info</button>
    </li>
    <li class="list-inline-item">
      <button class="cardbtn btn btn-primary">Contact</button>
    </li>
</ul>
</div>